@model Model.EntityFramework.TinTuc

@{
    ViewBag.Title = "Soạn mới tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    <link href="~/Assets/Admin/dist/css/buttonTrangthai.css" rel="stylesheet" />
}

@section header{
    Soạn mới tin tức
}

@section js{
    <script src="~/Assets/Admin/js/buttonTrangthai.js"></script>
    <script>
        $(function () {
            $('#toggle-trangthai').bootstrapToggle({
                on: 'Kích hoạt',
                off: 'Khóa'
            });
        })
    </script>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("Danh mục tin tức", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.IdDanhMucTinTuc, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdDanhMucTinTuc, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Tiêu đề tin tức", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.TieuDe, new { @class = "form-control", @rows = "3" })
                @Html.ValidationMessageFor(model => model.TieuDe, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Tóm tắt tin tức", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.TomTat, new { @class = "form-control", @rows = "4" })
                @Html.ValidationMessageFor(model => model.TomTat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Nội dung tin tức", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.NoiDung, new { @id = "editorNoiDung" })
                @Html.ValidationMessageFor(model => model.NoiDung, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Hình ảnh tin tức", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9 col-xs-9">
                @Html.EditorFor(model => model.HinhAnh, new { htmlAttributes = new { @id= "txtHinhAnh", @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.HinhAnh, "", new { @class = "text-danger" })
            </div>
            <div class="col-xs-1 col-md-1">
                <input type="button" class="btn btn-primary" value="..." id="ChonAnh" />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Người đăng tin tức", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.IdNguoiTao, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdNguoiTao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Trạng thái", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.TrangThai, new { @id = "toggle-trangthai", @checked = "checked", @class = "checkbox" })
                @Html.ValidationMessageFor(model => model.TrangThai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Tác giả", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TacGia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TacGia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tạo mới" class="btn btn-success" />
            </div>
        </div>
    </div>
}

